/ID*/
Converted_csv/
/analyze-tremor-bradykinesia-PD-master
/Paragit*
data_matrix.mat
Output*/
*.xlsx
trash*
trash.py
/PD*
/utils/Observations
ModelData.py
Model Data/
splits.py
/model/finalmodelresults_raw
model/resting_tremor_classifier.py
model/resting_tremor_amplitude_classifier.py
model/preprocess.py 
Hand_movement_plot.py
model/parameters.txt
